*,*  ::before,*::after
{
   box-sizing: border-box;
}
html,body{
   padding:0 ;
   margin: 0;
   width: 100%;
   height: 100%;
   font-size: 13px;
}
a,a:hover, a :visited{
   text-decoration: none;
   color: inherit;
}
.topBar{
   border: 1px solid red;
   width: 100%;
   max-width: 1024px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   padding: 1em 0;
}
.topBar.logo{
   width: 30px;
   height: 30px;
   background-color:rgb(2,181,252) ;
}
.topBar .navigation
.topBar.navigation .link{
   margin-right: 10px;
   
}
.topBar.navigation .Signin{}