*,*::before,*::after{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: inherit;
}

.topBar{
    border: 1px solid blueviolet;
    width: 100%;
    max-width: 1024px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    margin-bottom: 50px;
}
.topBar .logo{
    width: 30px;
    height: 30px;
    margin: auto 5px;
    background-color: rgb(0, 255, 42);
}
.topBar .navigation{
    width: calc(100% - 90px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.topBar .navigation .navLink{
    margin-right: 50px;
    font-family: Helvetica, Arial, sans-serif;
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
}

.navLink .underline{
    width:50%;
    height: 3px;
    position: absolute;
    bottom: -15px; 
    background-color: rgb(0, 255, 42);
    border-radius: 30px;
    display: none;
}
.navLink:hover .underline{
    display: flex;
    transition: width ease-in-out 400ms;
}


#getStartedButton{
    border: 2px solid rgb(0, 255, 42);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
}
#getStartedButton:hover{
    background-color: chartreuse;
    border: 2px solid chartreuse;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.topBar .navigation .signIn{
    position: absolute;
    top: 35px;
    right: 150px;
    width: 75px;
    font-weight: bolder;
    display: block;
    border: 1px solid blueviolet;
}
.header{
    border: 1px solid blueviolet;

    
    background-image: linear-gradient(to top, rgb(230, 230, 230),white);


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.header h1{
    font-size: 50px;
    margin-bottom: 100px;
}

.tabBar{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
}
.tabBar .tabLink{
    margin-right: 30px;
    padding: 10px;
    transition: 0.7s;
    border-radius: 10px;
}

.tabLink:hover{
    background-color: rgb(212, 212, 212);
    padding: 10px 15px;
    font-weight: bolder;
    transition: 0.7s;
}