/* Scrollbar */
    /* Largeur */
    ::-webkit-scrollbar {
        width: 5px;
        transition: 0.3s;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
        transition: 0.4s;
    }
    
    /* Track */
    ::-webkit-scrollbar-track:hover {
        border-radius: 10px;
        transition: 0.4s;
        background-color: rgba(0, 0, 0, 0.2);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb:hover {
        background: black;
        border-radius: 10px;
    }